<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/auth.css" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <link rel="stylesheet" href="/public/css/bootstrap.css" />
    <title>QLKS</title>
  </head>
  <body>
    {{> Header}}
    {{{body}}}
    {{> Footer}}
  </body>
  <script src="/public/js/bootstrap.js"></script>
  <script type="text/javascript" src="/public/js/index.js"></script>
  <script src="https://kit.fontawesome.com/72b6ccb4c8.js" crossorigin="anonymous"></script>
</html>