<div class="card container shadow position-fixed rounded p-2 border border-info" 
      style="width: 200px; height: 400; right: 0; top: 200; z-index: 10">

    <div class="card-heading">Phòng đã chọn</div>

    <hr>

    <div class="overflow-auto h-100" id="bookingRoom" ></div>

    <hr>

    <div class="mb-3 text-center" id="total">Tạm Tính: </div>

    <button class="btn btn-outline-primary w-75 mx-4 disabled" id="btnCheckout" onclick="sendBill()">Thanh toán</button>
</div>