<footer class="container-fluid">
  <div class="d-flex flex-column align-items-center bg-light">
    <img class="footer__img" src="/public/image/logo.png" alt="hcmus" />
    <h3 class="footer__right text-secondary">
      This template made by Thinh - student of HCMUS
    </h3>
  </div>
</footer>