<div class="modal fade z3" id="SucessModal" tabindex="-1" role="dialog" aria-labelledby="SucessModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header m-2">
        <h2 class="modal-title text-primary message__title" id="">Tạo phiếu thành công</h3>
      </div>
      <div class="modal-body text-center my-3 message__content">
        Đan chuyển hướng bạn về danh sách phòng...
      </div>
    </div>
  </div>
</div>