<link rel="stylesheet" href="../public/css/style_admin.css" />
<!--
{{#if message}}
<h3>{{message}}</h3>
{{/if}}-->
<div class="container d-flex">
  <div class="row admin-menu-container">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <a href="/listRoomInfo" style="text-decoration: none;">
        <div class="wrap">
          <div class="col-sm-3">
            <div class="ico-wrap">
              <img
                src="../public/image/roomController.png"
                alt=""
                class="mbr-iconfont"
              />
            </div>
          </div>
          <div class="col-sm-9 vcenter">
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                <span>Quản lý phòng</span>
              </h2>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <a href="/roomBooking" style="text-decoration: none;">
        <div class="wrap">
          <div class="col-sm-3">
            <div class="ico-wrap">
              <img
                src="../public/image/roomController.png"
                alt=""
                class="mbr-iconfont"
              />
            </div>
          </div>
          <div class="col-sm-9 vcenter">
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                <span>Quản lý đặt phòng</span>
              </h2>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <a href="/listInvoice" style="text-decoration: none;">
        <div class="wrap">
          <div class="col-sm-3">
            <div class="ico-wrap">
              <img
                src="../public/image/invoiceController.png"
                alt=""
                class="mbr-iconfont"
              />
            </div>
          </div>
          <div class="col-sm-9 vcenter">
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                <span>Quản lý hóa đơn</span>
              </h2>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <a href="" style="text-decoration: none;">
        <div class="wrap">
          <div class="col-sm-3">
            <div class="ico-wrap">
              <img
                src="../public/image/accommodation.png"
                alt=""
                class="mbr-iconfont"
              />
            </div>
          </div>
          <div class="col-sm-9 vcenter">
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                <span>Tạo phiếu đặt phòng</span>
              </h2>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <a href="/addNewRoom" style="text-decoration: none;">
        <div class="wrap">
          <div class="col-sm-3">
            <div class="ico-wrap">
              <img
                src="../public/image/accommodation.png"
                alt=""
                class="mbr-iconfont"
              />
            </div>
          </div>
          <div class="col-sm-9 vcenter">
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                <span>Thêm mới phòng</span>
              </h2>
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>