<div class="container align-items-center justify-content-center">
  <div class="h1">Detail ROom</div>
  <div class="row card">
    <div class="col">
      Image
    </div>
    {{> RoomInfo}}
  </div>
  
</div>