<h3 style="margin-top: 1em; margin-bottom:1em">WELCOME TO OUR HOTEL</h3>

<div>
    <div style="text-align: center; ">
        <img src="/public/image/hotel.jpg" style="width:90%; height:70%"/>
    </div>    
</div>
