*,
*::before,
*::after {
    box-sizing: border-box;
}

.checkbox-input {
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    border: 1px solid #ddd;
    outline: none;
    top: 25px;
    left: 10px;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.3;
    transition: all 0.2s ease-out;
}